* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial;
}

/* debug */
header, section, div, footer {
  outline: 2px dotted green;
}

a, h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  padding: 8px 15px;
}
/* header */
header {
  position: fixed;
  height: 200px;
}
.headerLogo {
  float: left;
}
.headerTitle {
  float: left;
}
/*SECTION*/
.mainSection {
  float: left;
  width: 100%;
  margin-top: 200px;
}
/* menu */
.navTab {
  float: left;
}
/* body */
.secBody {
  float: left;
}
/* footer */
.footerBot {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footerContent {
  text-align: right;
  padding: 10px 25px;
}
