* {
  margin: 0;
  padding: 0;
}


header,
div,
section,
footer {
  outline: 1px dotted green;
  min-height: 100px;
}

.nav-tab {
  float: left;
  width: 15%;
}

.sec-body{
  float: left;
  width: 85%;
}

div.header {
  background-image: url(/Gundam-display/Header_BG.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: 410px 700px;
  height: 550px;*/
}
