* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Rockwell, arial;
}

body {
  background-color: black;
  background-image: url(/Gundam-display/Image-Compilation/Header3_BG.jpg);
  background-size: cover;
  background-attachment: fixed;
}
/* debug */
header, section, nav, footer {
  /* outline: 2px dotted green; */
}

a, h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  padding: 8px 15px;
}
/* header */
header {
  position: fixed;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 1500px 200px;
}
.headerLogo {
  margin: 25px;
  float: left;
}

img[src*="Gundam-logo.jpg"] {
  width: 150px;
}

.headerTitle {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-top: 77px;
  margin-left: -25px;
  padding-left: -75px;
  width: calc(100% - 205px);
  text-align: center;
  font-size: 25px;
  opacity: 0.60;
}
/*SECTION*/
.mainSection {
  outline: 2px solid black;
  float: left;
  width: 100%;
  margin-top: 200px;
}
/* menu */
.navTab a:visited {
  color: yellow;
}

.navTab a:hover {
  color: rgb(255, 140, 0);
}

.navTab a {
  color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}


.navTab {
  float: left;
  height: 515px;
  width: 20%;
  background-color: rgb(10, 32, 90);
  padding-top: 20px;
}
/* body */
.secBody {
  float: left;

  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -145px;
  width: 80%;
  min-height: 515px;
}

.wing-body-bg {
  /*background-image: url(/Gundam-display/Image-Compilation/wing-background-1280.jpg);*/
  background-position-y: -150px;

}

.main-body-bg {
  background-image: url(/Gundam-display/Image-Compilation/Body_BG.jpg);
  /* background-position-y: -100px; */
}


.bodyParagraph {
  padding: 8px 15px;
}
.display-thumb {
  width: 300px;
  opacity: 0.9;
  border-radius: 25px;
}
.thumb-wrapper {
  position: relative;
  float: left;
  padding: 60px 110px;
}
.thumb-wrapper-ibo {
  padding: 60px 37px;
}
.thumb-wrapper a {
  padding: 0;
}
figcaption {
   color: rgb(255, 255, 255);
   text-align: center;
}

/*
  span.wing-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  color: rgb(255, 255, 255);
}
span.tallgeese-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  color: rgb(255, 255, 255);
}
*/

/* footer */
.footerBot {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  outline: 2px solid black;
}

.footerContent {
  text-align: right;
  padding: 10px 25px;
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 770px) {
  img[src*="Gundam-logo.jpg"] {
    width: 120px;
  }
}
@media only screen and (max-width: 440px) {
  * {
    font-size: 13px;
  }

  img[src*="Gundam-logo.jpg"] {
    width: 100px;
  }
  .navTab {
    /* display: none; */
    width: 100%;
    max-height: 40px; */
  }

  .headerTitle {
    margin-top: 37px;
  }

  .secBody {
    width: 100%;
    background-position-y: -90px;
  }

  .mainSection {
    margin-top: 160px;
  }
  li {
    float: left;
  }
}
